<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
    <queries>
        <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.HOME" /></intent>
    </queries>
    <application android:theme="@style/AppTheme" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true" android:usesCleartextTraffic="false">
        <provider android:name=".RuntimeSettingsProvider" android:authorities="${applicationId}.runtime"
            android:exported="false" />
        <receiver android:name=".KioskAdminReceiver" android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:label="@string/app_name" android:description="@string/kiosk_admin_description">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
            <intent-filter><action android:name="android.app.action.DEVICE_ADMIN_ENABLED" /></intent-filter>
        </receiver>
        <activity android:name=".KioskHomeActivity" android:exported="true"
            android:launchMode="singleInstance" android:taskAffinity="${applicationId}.home"
            android:excludeFromRecents="true" android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminActivity" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RoomBoundaryActivity" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".RoomPickerActivity" android:exported="true"
            android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rooms$Room1" android:process=":room1" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Rooms$Room2" android:process=":room2" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Rooms$Room3" android:process=":room3" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Rooms$Room5" android:process=":room5" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Rooms$Room6" android:process=":room6" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Rooms$Room7" android:process=":room7" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Rooms$Room8" android:process=":room8" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Rooms$Room9" android:process=":room9" android:exported="false" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
